//- doctype html
//- html(lang='en')
//-     head
//-         title Le PUG c'est bof
//-         //- script(type='text/javascript').
//-     body
//-         h1 Je ne suis pas motivée par PUG
//-         ul
//-             each val, key in {accueil: '/bienvenue', info: '/info', acces-interdit: '/acces-interdit', redirection: '/redirection-accueil'}
//-                 li= 