<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Student Form</title>
</head>
<body>
<h1>Add Student Form</h1>
<a th:href="@{/}">Home</a>

<form th:action="@{/add}" th:object="${student}" method="post">
    <div>
        <label for="name">Student Name :</label>
        <input type="text" id="name" th:field="*{name}">
    </div>
    <div>
        <label for="age">Age :</label>
        <input type="text" id="age" th:field="*{age}">
    </div>
    <div>
        <label for="email">Email :</label>
        <input type="email" id="email" th:field="*{email}">
    </div>
    <button>Submit</button>
</form>
</body>
</html>