<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
</head>
<body>
<h1>Student List</h1>
<nav>
    <a th:href="@{/}">Home</a>
</nav>

<div>
    <ul th:if="${students != null}">
        <li th:each="s : ${students}">
            <form th:action="@{/detail/{id}(id=${s.getId()})}" method="get">
                <span th:text="${s.getName()}"></span>
                <button type="submit">Details</button>
            </form>
        </li>
    </ul>
</div>
</body>
</html>