:root {
    --primaryColor: rgba(30, 144, 255, 1);
    --secondaryColor: yellow;
}

* {
    margin: 0;
    box-sizing: border-box;
    height: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}

/* Header*/
.header {
    grid-row: 1 / 2;
    padding: 1rem;
    background-color: var(--primaryColor);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, fr);
}

.logo {
    grid-template-columns: 1 / 3;
    grid-template-rows: 1 / 3;
    width: 40%;
    
}

.titleSite {
    text-align: end;
}

nav {
    text-align: end;
    margin: 2;
}

/*Gestion des liens de nav*/

.nav-link {
    background-color: var(--secondaryColor);
    border-radius: 10%;
    padding: 2px;
    
}

/* Gestion du main */

main {
    grid-row: 2 / 3;
    padding: 1%;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px; 
    padding: 1rem;
    justify-content: space-around;
}

/*Gestion des cards*/

h4, p{
    padding: 5px;
}


.lign {
    width: 100%;
    height: 4em;
    background-color: var(--primaryColor);
}

.card {
    /* align-items: space-around; */
    border: 1px solid var(--primaryColor);
    width: 10rem;
    height: 15rem;
    margin: 10px;
}


/*Gestion du footer*/
.footer {
    grid-row: 3 / 4;
    background-color: var(--primaryColor);
    text-align: center;
}